@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.active {
  height: 480px;
  width: 480px;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}

.inactive {
  height: 400px;
  width: 100px;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
  margin-top: 2.5rem;
}

.slick-track {
  height: 520px;
}